html {
    font-size: 10px;
    min-width: 640px;
}

body {
    font-size: 1.2rem;
}

@media screen and (max-width: 960px) {
    html {
        font-size: 8px;
    }
}

@media screen and (max-width: 720px) {
    html {
        font-size: 6px;
    }
}